@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

audio[controls],
canvas,
video {
    display: inline-block;
    *display: inline;
    zoom: 1
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font-family: sans-serif
}

a,
a:active,
a:link,
a:visited {
    text-decoration: underline;
    color: #444
}

a:hover {
    color: #444;
    text-decoration: none
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    _font-family: courier new, monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:after,
q:before {
    content: '';
    content: none
}

small,
sub,
sup {
    font-size: 75%
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

ol,
ul {
    padding: 0
}

dd,
ol,
ul {
    margin: 0
}

nav ol,
nav ul {
    list-style: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

figure,
form {
    margin: 0
}

fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    *margin-left: -7px
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button,
input {
    line-height: normal;
    *overflow: visible
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,
textarea {
    font-size: 80%;
    line-height: 200%;
    color: #272727
}

body,
input,
select,
textarea {
    font-family: ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN, Meiryo, メイリオ, Lucida Grande
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 100%
}

abbr,
acronym,
fieldset,
img {
    border: 0
}

li {
    list-style: none
}

.m05 {
    margin-bottom: 5px
}

.m10 {
    margin-bottom: 10px
}

.m12 {
    margin-bottom: 9pt
}

.m15 {
    margin-bottom: 15px
}

.m20 {
    margin-bottom: 20px
}

.m30 {
    margin-bottom: 30px
}

.m40 {
    margin-bottom: 40px
}

.m50 {
    margin-bottom: 50px
}

.m60 {
    margin-bottom: 60px
}

.mt05 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt12 {
    margin-top: 9pt
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mt60 {
    margin-top: 60px
}

.ml05 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml12 {
    margin-left: 9pt
}

.ml15 {
    margin-left: 15px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.ml50 {
    margin-left: 50px
}

.ml60 {
    margin-left: 60px
}

.mr05 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr30 {
    margin-right: 30px
}

.mr40 {
    margin-right: 40px
}

.mr50 {
    margin-right: 50px
}

.mr60 {
    margin-right: 60px
}

.pt05 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pt30 {
    padding-top: 30px
}

.pt40 {
    padding-top: 40px
}

.pb05 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb15 {
    padding-bottom: 15px
}

.pb20 {
    padding-bottom: 20px
}

.pb30 {
    padding-bottom: 30px
}

.pb40 {
    padding-bottom: 40px
}

.pl05 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl15 {
    padding-left: 15px
}

.pl20 {
    padding-left: 20px
}

.pl30 {
    padding-left: 30px
}

.pl40 {
    padding-left: 40px
}

.pr05 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr15 {
    padding-right: 15px
}

.pr20 {
    padding-right: 20px
}

.pr30 {
    padding-right: 30px
}

.pr40 {
    padding-right: 40px
}

.flt {
    float: left
}

.flr {
    float: right
}

.txt_l,
.txt_l td,
td.txt_l {
    text-align: left
}

.txt_r,
.txt_r td,
td.txt_r {
    text-align: right
}

.txt_c,
.txt_c td,
td.txt_c {
    text-align: center
}

.valign_t,
.valign_t td,
td.valign_t {
    vertical-align: top
}

.valign_m,
.valign_m td,
td.valign_m {
    vertical-align: middle
}

.valign_b,
.valign_b td,
td.valign_b {
    vertical-align: bottom
}

.clear {
    clear: both
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: block
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

@media (min-width:768px) {
    body {
        background: #fff;
        font-size: 1pc
    }
    img {
        vertical-align: bottom
    }
    a,
    a:active,
    a:link,
    a:visited {
        text-decoration: underline
    }
    a:hover {
        text-decoration: none
    }
    a:active,
    a:focus {
        outline: 0;
        border: 0 0
    }
    #header {
      width: 100%;
      padding: 10px 0 20px;
      height: 108px;
      background: #000;
      color: #fff;
      transition: all .3s ease;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }
    #header h1 {
        display: block;
        font-size: 11px;
        line-height: 1.6;
        padding: 0;
        margin-bottom: 1em;
        transition: all .3s ease;
    }
    #header #logo {
        float: left;
        margin-right: 34px;
        padding-bottom: 8px
    }
    #header #logo img {
      width: 5vw;
      max-width: 50px;
      transition: all .3s ease;
    }

    /*scroll時*/
    #header.scroll{
      height: 65px;
      padding: 5px 0 10px;
    }
    #header.scroll h1{
      opacity: 0;
      height: 0;
      margin: 0;
    }
    #header.scroll .logo{
      width: 5vw;
      max-width: 50px;
    }

    #mv .inner {
        margin-top: 98px
    }
    #wrapper {
        clear: both;
        background: #f7f4ee;
        padding-top: 108px;
    }
    .inner {
        width: 750pt;
        margin: 0 auto
    }
    #nav ul,
    #nav ul li {
        float: left
    }
    #nav ul li a img {
        vertical-align: top
    }
    #h_contact {
        float: right;
        padding-top: 15px
    }
    #h_contact.tel_btn {
        padding-top: 7px
    }
    #spMenu,
    #spMenubtn {
        display: none
    }
    .pankuzu {
        padding: 20px 0 14px;
        font-size: 9pt
    }
    .pankuzu li {
        display: inline
    }
    .pankuzu li a {
        text-decoration: none
    }
    .cta {
        background: url(../img/common/ctaBg.jpg)no-repeat center bottom fixed;
        background-size: cover;
        padding: 60px 0 5pc
    }
    .cta h2 {
        text-align: center;
        padding-bottom: 54px;
        border-bottom: 1px solid #fff
    }
    .cta ul {
        margin-top: 56px
    }
    .cta ul li {
        float: left
    }
    .cta ul li:last-child {
        margin-left: 56px
    }
    #footer {
        background: url(../img/common/ft_bg.png)repeat center bottom;
        color: #fff
    }
    #footer .inner {
        width: 748px;
        margin: 0 auto;
        padding: 37px 0 47px
    }
    #footer .sitemap.left {
        width: 314px;
        float: left
    }
    #footer .sitemap.center {
        width: 270px;
        float: left
    }
    #footer .sitemap.right {
        width: 163px;
        float: left
    }
    #footer .sitemap li a {
        font-size: 9pt;
        text-decoration: none;
        color: #fff
    }
    #footer .sitemap li a:hover {
        text-decoration: underline
    }
    #copyright {
        text-align: center;
        border-top: 1px solid #fff;
        font-size: 9pt;
        padding: 15px 0;
        line-height: 160%
    }
    #contents {
        padding-bottom: 162px
    }
    .img_main_ttl,
    .main_lead {
        text-align: center
    }
    .main_lead {
        font-size: 1pc;
        line-height: 210%;
        margin: 28px 0 50px
    }
    .sp {
        display: none !important
    }
}

@media (max-width:767px) {
    body {
        background-color: #fff
    }
    img {
        width: 100%;
        vertical-align: bottom
    }
    h1 {
        padding-top: 9pt;
        padding-left: 10px
    }
    a,
    a:active,
    a:link,
    a:visited {
        text-decoration: none
    }
    #header {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 2;
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        padding: 10px 15px;
        display: flex;
        align-items: center;
    }
    #header #logo {
        float: left;
        width: 45%;
        margin-right: 5px
    }
    #header #logo img {
        float: left;
        width: 30%
    }
    #header #logo span img {
        width: 40vw
    }
    #header .h_mail {
        position: absolute;
        right: 70px;
        width: 45px;
    }
    #wrapper {
        margin-top: 60px;
        padding: 0 10px;
        background: #f7f4ee
    }
    .pankuzu {
        padding: 20px 0 11px;
        font-size: 9pt
    }
    .pankuzu li {
        display: inline
    }
    .pankuzu li a {
        text-decoration: none
    }
    #spMenubtn {
        position: absolute;
        background: url(../img/common/sp/menu_btn.png)no-repeat;
        background-size: contain;
        top: 10px;
        right: 15px;
        width: 45px;
        height: 45px;
        z-index: 2;
        top: 26px
    }
    #spMenubtn.close {
        background-size: contain
    }
    #spMenu {
        display: none;
        background: #fff;
        width: 100%;
        position: fixed;
        top: 55px;
        left: 0;
        box-sizing: border-box;
        overflow: scroll;
        z-index: 1
    }
    #spMenu ul {
        padding: 0 10px 10px
    }
    #spMenu ul li {
        border-bottom: 1px solid #23abb6
    }
    #spMenu ul li a {
        font-size: 10px;
        padding: 8px 0;
        display: block;
        color: #23abb6
    }
    #spMenu .close {
        width: calc(100% - 20px);
        margin: 0 auto 20px
    }
    .cta {
        background: url(../img/common/cta_bg.png)no-repeat center top;
        background-size: cover;
        padding: 20px 0 1px
    }
    .cta h2 {
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff
    }
    .cta h2 img {
        width: 75%
    }
    .cta ul {
        margin-top: 10px
    }
    .cta ul li {
        margin-bottom: 15px;
        padding: 0 5%
    }
    .cta ul li:first-child {
        padding: 0 17.5% 0 14.5%
    }
    #footer {
        background: url(../img/common/ft_bg.png)repeat center bottom;
        color: #fff;
        padding: 0 10px
    }
    #footer ul {
        padding: 5px 0 5px 10px
    }
    #footer .inner {
        padding-bottom: 15px
    }
    #footer .sitemap {
        margin-bottom: 10px
    }
    #footer .sitemap.left {
        width: 56%;
        float: left
    }
    #footer .sitemap.center {
        width: 35%;
        float: left
    }
    #footer .sitemap.right {
        width: 163px;
        float: left
    }
    #footer .sitemap li {
        line-height: 140%
    }
    #footer .sitemap li a {
        font-size: 8px;
        text-decoration: none;
        color: #fff
    }
    #copyright {
        border-top: 1px solid #fff;
        font-size: 10px;
        padding: 7px 0;
        line-height: 160%;
        margin: 0 -10px
    }
    .normal_ttl {
        font-size: 17px;
        font-weight: 700;
        color: #009245;
        text-align: center
    }
    #copyright,
    .img_main_ttl {
        text-align: center
    }
    .img_main_ttl img {
        height: 72px;
        width: auto
    }
    .main_lead {
        text-align: center;
        font-size: 10px;
        line-height: 140%;
        margin: 10px 0 15px
    }
    .tel_btn {
        padding-top: 7px;
        width: 40%;
        float: right
    }
    .pc {
        display: none !important
    }
}

#nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin-top: 9px;
  }
  #nav ul li a{
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #nav ul li:not(:last-child) a{
    border-right: 1px solid #fff;
  }
  .header-btn{
    width: 200px;
    height: 50px;
    background: #fff;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s all ease;
    position: relative;
    font-size: 1.1em;
    letter-spacing: .08em;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    will-change: transform;
  }
  .header-btn span{
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 1;
    position: relative;
  }
  .header-btn i{
    font-size: 1.5em;
    margin-right: 15px;
  }
  .header-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform: translate(-100%,0);
  }
  .header-btn:hover::after{
    animation: anime_btn 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;
  }
  .header-btn:hover span{
    animation: anime_btn_text 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;
  }

/* anime_btn
	   ========================================================================== */
      .anime_btn a,
      .anime_btn button{
		position: relative;
		border: none;
		overflow: hidden;
        width: 480px;
        max-width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        margin: 0 auto;
    }
    .anime_btn.orange_btn a,
    .anime_btn.orange_btn button{
        background: #DD6A18;
    }
	
  .anime_btn a span,
  .anime_btn button span{
        padding: 11px 0;
        color: #fff;
        box-sizing: border-box;
        width: 480px;
        height: 80px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bold;
        position: relative;
        z-index: 1;
    }
    .anime_btn.orange_btn a span,
    .anime_btn.orange_btn button span{
        border: 1px solid #DD6A18;
    }
    
    .anime_btn a span i,
    .anime_btn button span i{
        margin: 0 15px 0 0;
        font-size: 26px;
        color: #000;
        vertical-align: top;
    }
    .anime_btn.orange_btn a span i,
    .anime_btn.orange_btn button span i{
        color: #fff;
    }
    #contact_submit{
      position: relative;
    }
    #contact_submit.anime_btn button span i{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50px;
      display: flex;
      align-items: center;
    }
	
    .anime_btn a:hover span,
    .anime_btn a:hover span i,
    .anime_btn button:hover span,
    .anime_btn button:hover span i{
    	animation: anime_btn_text 0.8s cubic-bezier(0.77, 0, 0.175, 1);
		animation-fill-mode: forwards;
    }
    .anime_btn.orange_btn a:hover span,
    .anime_btn.orange_btn a:hover span i,
    .anime_btn.orange_btn button:hover span,
    .anime_btn.orange_btn button:hover span i{
    	animation: anime_btn_text_orange 0.8s cubic-bezier(0.77, 0, 0.175, 1);
		animation-fill-mode: forwards;
    }
    
  .anime_btn a::after,
  .anime_btn button::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
        transform: translate(-100%,0);
	}
	
  .anime_btn a:hover::after,
  .anime_btn button:hover::after{
    	animation: anime_btn 0.8s cubic-bezier(0.77, 0, 0.175, 1);
		animation-fill-mode: forwards;
	}

@keyframes anime_btn {
	0% { transform: translate(-100%,0);}
	48% { transform: translate(0,0);}
	52% { transform: translate(0,0); }
	100% { transform: translate(100%,0); }
}

@keyframes anime_btn_text {
	0% { color: #000;}
	48% { color: #fff;}
	52% { color: #fff;}
	100% { color: #000;}
}

@keyframes anime_btn_text_orange {
	0% { color: #fff;}
	48% { color: #DD6A18;}
	52% { color: #DD6A18;}
	100% { color: #fff;}
}

@media screen and (max-width: 1000px){
    #nav ul li a{
        width: 13.5vw;
      }
      .header-btn{
        width: 20vw;
        height: 5vw;
      }
}
@media screen and (max-width: 768px){
  #header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .sp-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42vw;
  }
  .circle{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #000;
  }
  .circle img{
    width: 5.3vw;
  }
  input[type=checkbox]{
    display: none;
  }
  .sp-menu{
    position: fixed;
    top: 0;
    right: -280px;
    background: rgba(0,0,0,.9);
    width: 280px;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
    transition: .6s;
  }
  .sp-menu ul{
    width: 80%;
    text-align: left;
  }
  .sp-menu ul li{
    border-bottom: 1px solid #ccc;
    position: relative;
  }
  .sp-menu ul li::before{
    content: "";
    width: 8px;
    height: 8px;
    border-top: #ccc 2px solid;
    border-right: #fff 2px solid;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .sp-menu ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 4;
  }
  .sp-btn{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 120;
  }
  .sp-btn-inner{
    width: 30px;
    height: 3px;
    background: #000;
    position: relative;
    transition: .4s;
  }
  .sp-btn-inner::before,
  .sp-btn-inner::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: .4s;
  }
  .sp-btn-inner::before{
    top: 10px;
  }
  .sp-btn-inner::after{
    top: -10px;
  }

  #sp-btn{
    position: relative;
  }
  #sp-btn:checked ~ .sp-btn .sp-btn-inner{
    transform: rotate(180deg);
    background: transparent;
  }
  #sp-btn:checked ~ .sp-btn .sp-btn-inner::before{
    transform: rotate(45deg);
    top: 0;
    background: #fff;
  }
  #sp-btn:checked ~ .sp-btn .sp-btn-inner::after{
    transform: rotate(-45deg);
    top: 0;
    background: #fff;
  }
  #sp-btn:checked ~ .sp-menu{
    right: 0;
  }
}

@media screen and (max-width: 380px){
  .anime_btn a,
  .anime_btn button{
    font-size: 3vw;
  }
}

.g-recaptcha {
    margin: 30px auto 5px;
    display: flex;
    justify-content: center;
}

p#warning {
    text-align: center;
    color: red;
    font-size: .8em;
}